<a href="https://colab.research.google.com/github/adi-dev-vikram/NetworkSecurityResearch/blob/master/analysis_packets_logs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import random
import pandas as pd
import requests
import numpy as np
outfile='sample_data/conn.log'
df = pd.read_csv(outfile, sep="\t", header=None, names=['ts','uid','id.orig_h','id.orig_p','id.resp_h','id.resp_p','proto','service','duration','orig_bytes','resp_bytes','conn_state','local_orig','missed_bytes','history','orig_pkts','orig_ip_bytes','resp_pkts','resp_ip_bytes','tunnel_parents','threat','sample'])

 we will analyze attacks relevant to only the net‚Äê work, transport, and session layers (OSI layers 3, 4, and 5, respectively). Even though physical layer (layer 1 [L1]) and data link layer (layer 2 [L2]) attacks are important to consider in general discussions of network security, we omit them in our current analysis because the implementation and security of L1 and L2 fall outside the scope of application developers and security engineers.

In [ ]:
df.head()

             ts                 uid  ... threat  sample
0  1.331901e+09  C6SwUo2lWDfrpgfgVl  ...    NaN     NaN
1  1.331901e+09  C26Bhi2scZzizn7ph9  ...    NaN     NaN
2  1.331901e+09   CnbU9V2P0WWwMlO1l  ...    NaN     NaN
3  1.331901e+09   Cyu9CADFj5Kg5rhf4  ...    NaN     NaN
4  1.331901e+09   CcUhD5kLSPzplLI5e  ...    NaN     NaN

[5 rows x 22 columns]

In [ ]:
df.drop(['threat', 'sample'], axis = 1)
#df['Destination'].value_counts()

               ts                 uid  ... resp_ip_bytes  tunnel_parents
0    1.331901e+09  C6SwUo2lWDfrpgfgVl  ...           382         (empty)
1    1.331901e+09  C26Bhi2scZzizn7ph9  ...           501         (empty)
2    1.331901e+09   CnbU9V2P0WWwMlO1l  ...             0         (empty)
3    1.331901e+09   Cyu9CADFj5Kg5rhf4  ...           334         (empty)
4    1.331901e+09   CcUhD5kLSPzplLI5e  ...             0         (empty)
..            ...                 ...  ...           ...             ...
150  1.331902e+09  Ck78zG2ZUe4oWaZyd7  ...            40         (empty)
151  1.331902e+09  CHSXiu2WGDJrxhF4Wc  ...            40         (empty)
152  1.331902e+09  CjcsHU1tKeoYeKOzN1  ...            40         (empty)
153  1.331902e+09  CqP6Y63GCpSj8wgmRf  ...            40         (empty)
154  1.331902e+09  CRANmH332d47c9WhPi  ...             0         (empty)

[155 rows x 20 columns]

In [ ]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ts              155 non-null    float64
 1   uid             155 non-null    object
 2   id.orig_h       155 non-null    object
 3   id.orig_p       155 non-null    int64
 4   id.resp_h       155 non-null    object
 5   id.resp_p       155 non-null    int64
 6   proto           155 non-null    object
 7   service         155 non-null    object
 8   duration        155 non-null    object
 9   orig_bytes      155 non-null    object
 10  resp_bytes      155 non-null    object
 11  conn_state      155 non-null    object
 12  local_orig      155 non-null    object
 13  missed_bytes    155 non-null    int64
 14  history         155 non-null    object
 15  orig_pkts       155 non-null    int64
 16  orig_ip_bytes   155 non-null    int64
 17  resp_pkts       155 non-null    int64
 18  resp_ip_bytes   155 non-null    int64
 19  tunnel_parents  155 non-null    object
 20  threat          0 non-null      float64
 21  sample          0 non-null      float64
dtypes: float64(3), int64(7), object(12)
memory usage: 26.8+ KB

In [ ]:
from datetime import datetime
df['ts'] = [datetime.fromtimestamp(float(date)) for date in df['ts'].values]

In [ ]:
#percent of tcp connections out of total
float(len(df[df.proto=='tcp']))/len(df.proto)*100.0
#if majority of TCP connects origin packet is SYN of 3 way handshake then that might lead to DDOS SYN flooding
#tcp and port 80 and check flag for SYN in TCP header in wireshark use scapy to put it into df in pandas(Flags: 0x002 (SYN))

98.70967741935483

In [ ]:
df.apply(pd.to_numeric, errors="ignore")

                      ts                 uid  ... threat  sample
0    1331901000260000000  C6SwUo2lWDfrpgfgVl  ...    NaN     NaN
1    1331901001440000000  C26Bhi2scZzizn7ph9  ...    NaN     NaN
2    1331901050450000000   CnbU9V2P0WWwMlO1l  ...    NaN     NaN
3    1331901079900000000   Cyu9CADFj5Kg5rhf4  ...    NaN     NaN
4    1331901027780000000   CcUhD5kLSPzplLI5e  ...    NaN     NaN
..                   ...                 ...  ...    ...     ...
150  1331901795610000000  Ck78zG2ZUe4oWaZyd7  ...    NaN     NaN
151  1331901795830000000  CHSXiu2WGDJrxhF4Wc  ...    NaN     NaN
152  1331901795840000000  CjcsHU1tKeoYeKOzN1  ...    NaN     NaN
153  1331901795940000000  CqP6Y63GCpSj8wgmRf  ...    NaN     NaN
154  1331901796020000000  CRANmH332d47c9WhPi  ...    NaN     NaN

[155 rows x 22 columns]

In [ ]:
df['service'].value_counts()

-       152
http      2
dns       1
Name: service, dtype: int64